<h1 >My cart</h1>
<br>
<% if @order.order_items.size > 0 %>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col"><%= render 'orders/cart_items', order: @order %></div>
    <div class="col"><%= render "form", order: @order %></div>
  </div>
<% else %>
  <p><span class="text-muted ">No products in cart</span></p>
  <%= link_to "Continue shopping", products_path, class: "btn btn-primary mb-4" %>
<% end %>
