<div id="<% dom_id(order_item)%>">
  <p>
    <b>Product:</b>
    <%= order_item.product.name %>
  </p>
  <p>
    <b>Price:</b>
    <%= number_to_currency(order_item.product.price.to_f, delimiter: '', unit: '$') %>
  </p>
  <p>
    <b>Quantity:</b>
    <%= order_item.quantity %>
  </p>
  <p>
    <b>Total:</b>
    <% total = order_item.quantity * order_item.product.price %>
    <%= total %>
  </p>
</div>
