<div id="<%= dom_id discount %>">
  <p>
    <strong>Name:</strong>
    <%= discount.name %>
  </p>

  <p>
    <strong>Percent:</strong>
    <%= discount.percent %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= discount.expiration_date %>
  </p>

</div>
