<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Discounts</li>
  </ol>
</nav>
<h1>Discounts</h1>
<div id="discounts">
  <% @discounts.each do |discount| %>
    <%= render discount %>
    <p>
      <%= link_to "Show this discount", discount %>
    </p>
  <% end %>
</div>
<%= link_to "New discount", new_discount_path %>
