<h1>Editing brand</h1>

<%= render "form", brand: @brand %>

<br>

<div>
  <%= link_to "Show this brand", @brand, class: "btn btn-secondary" %> 
  <%= link_to "Back to brands", brands_path, class: "btn btn-dark" %>
</div>
