<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @product.brand.name, @product.brand %></li>
    <li class="breadcrumb-item active" aria-current="page">New product</li>
  </ol>
</nav>
<h1>New product</h1>
<%= render "form", product: @product %>
