<% if(!@banner.nil?) %>
<div class="card mb-3">
<div class="text-center">
 <%= link_to image_tag(@banner.image_as_thumbnail(500), class:"rounded", height:'100px', preserveAspectRatio: "xMidYMid slice"), @banner.image if @banner.image.attached?  %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @banner.description %></p>
    <p class="card-text"><%= @banner.freq %></p>
  </div>
</div>
<% end %>