<!-- FOOTER -->
<footer class="container mt-auto">
  <div class="row">
    <div class="col align-self-end">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>&copy; <%= Date.today.year %> Atlas, MiPyme. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
  </div>
</footer>
